<!DOCTYPE html>
<!--
	{{site.title}}
	@author {{site.author}}
 -->
<html lang="{{site.language}}">
<head>
	<title> {% if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="apple-touch-icon" href="{{site.baseurl}}/favicon.png" />
	<link rel="icon" href="{{site.baseurl}}/favicon.png" />
	<meta name="theme-color" content="#7f1734">
	<link rel="stylesheet" href="{{site.baseurl}}/src/style.css" />
	<link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.png" />
</head>
<body>
<header>
<h1><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
<nav>
	<ul>
		<li><a href="{{site.baseurl}}/">home</a></li>
		<li><a href="{{site.baseurl}}/a/">archive</a></li>
	</ul>
</nav>
</header>
