{% include header.html %}
<div class="wrapper">
	<h2>{{page.title}}</h2>
	<article>
		{% if page.location %}<span class="location">{{page.location}} • </span>{% endif %}
		{{ content }}
		{% if page.author %}<span class="author">by {{page.author}}</span>{% endif %}
	</article>
	<div class="related">
	{% assign hasSimilar = '' %}
	{% for post in site.a %}
	    {% assign postHasSimilar = false %}
	    {% for tag in post.tags %}
	        {% for thisTag in page.tags %}
	            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
	                {% if hasSimilar.size == 0 %}
	                <h4>Meer als dit</h4>
	                <ul>
	                {% endif %}
	                <li>
	                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
	                    {% if post.series %}
	                        (Series: {{ post.series }})
	                    {% endif %}
	                    </a>
	                </li>
	                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
	                {% assign postHasSimilar = true %}
	            {% endif %}
	        {% endfor %}
	    {% endfor %}
	{% endfor %}
	{% if hasSimilar.size > 0 %}
	    </ul>
	{% endif %}
	</div>
</div>
{% include footer.html %}